@import "base";
@import "logo_style";


#postheader {
    background: $light_background;
    max_width: $screen_max_width;
    padding: 1em;
}

ul {
    list-style-type: disc;
    margin-left: 1em;
    padding-left: 0.25em;
    li {
        display: list-item;
    }
}
