@font-face {
	font-family: "Adobe Caslon Pro";
	src: url("/static/fonts/Adobe Caslon Pro.ttf") format("truetype"); 
}
@font-face {
	font-family: "Adobe Caslon Pro Semibold";
	src: url("/static/fonts/Adobe Caslon Pro Semibold.ttf") format("truetype"); 
}
@font-face {
	font-family: "Walkway Expand";
	src: url("/static/fonts/Walkway Expand.ttf") format("truetype"); 
}
@font-face {
	font-family: "Walkway Expand Bold";
	src: url("/static/fonts/Walkway Expand Bold.ttf") format("truetype"); 
}
@font-face {
	font-family: "Walkway Expand Black";
	src: url("/static/fonts/Walkway Expand Black.ttf") format("truetype"); 
}

@font-face {
	font-family: "Baskerville";
	src: url("/static/fonts/Baskerville.ttc") format("truetype");
}

@font-face {
	font-family: "Advent Light 3";
	src: url("/static/fonts/advent-Lt3.otf") format("opentype");
}

@font-face {
	font-family: Rockwell;
	src: url(/static/fonts/Rockwell.ttf) format("truetype");
}

@font-face {
  font-family: 'Copse';
  font-style: normal;
  font-weight: 400;
  src: local('Copse'), url(/static/fonts/Copse.woff) format('woff');
}