@font-face {
	font-family: "Walkway Bold";
	src: url("/static/fonts/Walkway Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Walkway Expand";
	src: url("/static/fonts/Walkway Expand.ttf") format("truetype");
}
@font-face {
	font-family: "Walkway Expand";
	font-weight: 700;
	src: url("/static/fonts/Walkway Expand Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Walkway Expand Black";
	src: url("/static/fonts/Walkway Expand Black.ttf") format("truetype");
}
@font-face {
	font-family: "Walkway UltraCondensed Bold";
	src: url("/static/fonts/Walkway UltraCondensed Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Baskerville";
	src: url("/static/fonts/Baskerville.ttc") format("truetype");
}

@font-face {
	font-family: "Advent Light 3";
	src: url("/static/fonts/advent-Lt3.otf") format("opentype");
}

@font-face {
	font-family: "Museo Slab";
	font-weight: 500;
	src: url("/static/fonts/exljbris - MuseoSlab-500.otf") format("opentype");
}
@font-face {
	font-family: "Museo Slab";
	font-weight: 500;
	font-style: italic;
	src: url("/static/fonts/exljbris - MuseoSlab-500Italic.otf") format("opentype");
}

//@font-face {
//  font-family: 'Copse';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Copse'), url(/static/fonts/Copse.woff) format('woff');
//}

@font-face {
	font-family: Pico;
	src: url(/static/fonts/pico.ttf) format("truetype");
}


@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lusitana";
    src: url("/static/fonts/Lusitana-Regular.ttf") format("truetype");
}


@font-face {
    font-family: "Lusitana";
    src: url("/static/fonts/Lusitana-Bold.ttf") format("truetype");
}
