$core_path: "/static/images/front_cycler";

#slider1 {
	background-image: url(#{$core_path}/mudd_olin.jpg);
	background-repeat: no-repeat;
	background-position: center
}

#slider2 {
	background-image: url(#{$core_path}/olin.jpg);
	background-repeat: no-repeat;
	background-position: center
}


#slider3 {
	background-image: url(#{$core_path}/tlc_plan.jpg);
	background-repeat: no-repeat;
	background-position: center;

	.header {
		padding: 5px;
		float: right;

	}

	.subheader {
		padding: 5px;
	}

	.blurb {
		background: change-color($light_background, $alpha:0.6);
		bottom: 0;
		padding: 5px;
		color: #333;
		text-align: justify;
	}
}