/* base.scss */
@import "functions";
@import "fonts";
@import "reset";
@import "classes";
@import "inputs";

$screen_max_width: 1050px;
$logo_banner_min_width: 1080px;

$font_size: 1em;
$line_height: 1.75em;

$mudd_gold: #cc9933;

::selection {
    background-color: $mudd_gold;
    color: white;
}

$body_background:  white url(../images/bg.jpg) repeat;

body {
    -webkit-print-color-adjust: exact;
    background: $body_background;
    font-size: $font_size;
    font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
}

em {
    font-family: "Proxima Nova Italic","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-style: italic;

    br + & {
        color: rgba(0, 0, 0, 0.4);
        font-size: 0.875em;
    }
}

h1{
    font: {
         family: "Copse", "Rockwell", "Helvetica Neue", sans-serif;
    }
}

h1 {
    $h1_size: $font_size * 1.75;
    font: {
        size: $h1_size;
    }
    line-height: #{$line_height/$h1_size}em;
    margin: {
        bottom: #{$line_height/$h1_size}em;
        top: #{$line_height/$h1_size}em;
    }

    p + & {
        margin-top: #{$line_height/$h1_size}em;
    }
}

h2,h3 {
   
    font: {
        family: "Rockwell","Times New Roman",serif;
        weight: bold;
        style: normal;
        height: 1.1em;
        size: 2em;
    }
    //line-height: #{$line_height/$h2_size}em;
}

h4,h5,h6 {
    font-family: "Proxima Nova","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.125em;
    padding: 1.5em 0 0.5em 0;
    text-transform: uppercase;
}

h2 {
    $h2_size: 2em;
    margin: {
        bottom: #{$line_height/$h2_size}em;
    }

    p + & {
        margin-top: #{$line_height/$h2_size}em;
    }
}

h3 {
    font-size: 1.5em;
    padding: 1.5em 0 0.5em 0;
    line-height: 1.3em;
}

abbr {
    letter-spacing: .1em;
}

p {
    line-height: $line_height;
    margin: {
        top: $line_height;
        bottom: 0;
    }

    &:first-child {
        margin-top: 0;
    }
}

p + p {
    text-indent: $line_height;
    margin-top: 0;
}

li {
    padding: .2em;
}

div#container {
}

section#preheader {

	max-width: $screen_max_width;
	
    margin: 15px auto;
    $scrollable_width: 54%;
    .scrollable_holder {
        //border: 1px solid $mudd_gold;
        width: $scrollable_width;
        background-color: #fff;
        padding: 0.6% 1%;

        & > div {
            background: $body_background;
            padding: 1%;
        }

        .scrollable {
            width: 100%;

            div {
                height: 250px;
            }
        }
    }
    
}

#latest_news {
    display: inline;
    float: right;
    width: 44.1%;
    min-width: 300px;
    background: #fff;
    //border-left: 1px solid #fff;
    padding: {
        bottom: 20px;
        top: 20px;
    }
    ul {
        text-align: left;


        li {
            text-indent: 2em;
            padding-right: 7.2%;
            margin-left: -2.2%;
            margin-bottom: 5px;
            font-family: Copse, "Rockwell", sans-serif;
            font-size: $font-size * 1.25;

            cursor: pointer;

            &.current {
                background-color: $mudd_gold;
                color: white;
            }

            @include transition(background-color, 1s);
        }
    }
}

section#pipeline {
    padding: 5px;

    ul {
        li {
            margin-bottom: 1em;

            p {
                text-indent: -2em;
                margin-left: 2em;
                line_height: 0.5em;
            }

        }
    }
}

section#twitter_feed {
    $font_size: $font_size * 0.9;
    h2 { 
        word-spacing: -0.125em;
        margin-top: -0.5em;
        margin-bottom: 0.25em;
    }
    //width: 20%;
    //max-height: 200px;
    
    padding: 5px;

    overflow-y: auto;

    @include cute-scrollbar($track-background: white);
    background: $body_background;
    

    & > div {
        background: rgba(151, 223, 252, .3);
        padding: 15px 15px 10px 10px;
        border: solid 1px #CACFC3;
        border-bottom-color: #B5BAAE;
    }

    div.spacer {
        height: 10px;

        padding: {
            bottom: 3px;
        }
    }

    a {
        text: {
            decoration: none;
        }
    }

    div.tweet {
        $tweet_color: rgb(154,228,232);

        margin: {
            bottom: 15px;
        }

        border: solid 1px #CACFC3;
        padding: 5px;

        .text {

            font: {
                size: $font_size;
                family: sans-serif;
            }

            margin: {
                top: 4px;
                bottom: 2px;
            }

            padding: 4px;

            @include rounded_corner(bottom-left);

            //background: {
               //color: $tweet_color;
            //}
        }

        $sub_text_size: 13px;

        .time {
            float: left;

            margin-left: 5px;

            font: {
                size: $sub_text_size;
            }
        }

        .author {
            float: right;

            @include rounded_corner(top-left);
            @include rounded_corner(top-right);

            //background: {
             //   color: $tweet_color;
            //}

            font: {
                size: $sub_text_size;
            }
        }
    }
}
div#logo {
	$border_width: 10px;
    height: 150px;
    min-width: $logo_banner_min_width;
    position: relative;
    margin: {
        top: 15px;
    }
    z-index: 2;
	background-color: #1c1c1c;
    
    color: $mudd_gold;

	border: {
		style: solid;
		left: None;
		right: None;
		width: $border_width;
        color: #7E580D;
	}

    z-index: 100;

	#ashmc {
		float: left;
		height: 150px;
		list-style: None;
		list-style-type: None;

		margin: {
			top: 0px;
			left: 3%;
		}
        color: black;
        text-align: center;

        a {
            text: {
                decoration: none;
            }

            

            &:active {
                color: rgb(200, 26, 70);
            }
        }

        h1 {
            line-height: 4.5em;
            margin: 0;
            //text-align:center;

    		span {
    			margin: {
    				left: 0;
    				right: 0;
    			}
    		
    			display: inline block;
    			list-style: None;
    		
        		&.HMC {
                    font:{
        			    size: 125px;
        		    }
                }
                    
                color: $mudd_gold;

        		&.AS {
        			font:{
        				size: 130px;
        			}

                    color: #fff;

                    &::after {
                        content: "|";
                        color: #C9B147;
                    }
        		}
            }
        }
        h3 {
            position: relative;
            top: -4em;
            font: {
                family: Helvetica sans-serif;
            }
            color: white;
            font-size: 1em;
            .AS {
                font: {
                    family: "Walkway Expand Bold", sans-serif;
                }
            }
        }
	}
}

div#head_links {
	float: left;
	margin: {
		top: 1em;
		left: 2em;
	}

	font: {
		size: 20pt;
	}
}

div#salutation {
    float: right;

    min-width: 300px;

    margin: {
        top: 1em;
        right: 15%;
    }
}

div#login_form {
	float: right;
    height: inherit;
	margin: {
		right: 2%;
        top: 0px;
	}

	div {
		width: 413px;
		//margin: 0 auto;
	}

    #login_form_hold {
       
    }

	$brace_width: 45px;
	$brace_height: 235px;
    $brace_font: "Baskerville";
	&::before {
		//background: {
		//	image: url(/static/images/header/leftbrace.png);
		//	repeat:  no-repeat;
		//	position: center left;
		//}
        content: "}";
		//height: $brace_height;
		//width: $brace_width;
		//float: left;
        font-size: $brace_height;
        font-family: $brace_font;
        float: right;
        margin-top: -68px;

	}



	&::after {
		//background: {
		//	image: url(/static/images/header/rightbrace.png);
		//	repeat:  no-repeat;
		//	position: center right;
		//}
        content: "{";
		//height: $brace_height;
		//width: $brace_width;
		//float: right;
        font-size: $brace_height;
        font-family: $brace_font;
        float: left;
        margin: {
            top: -202px;
            left: -113px;
        }
	}

    form input{
        width: 300px;
        padding: 5px;
        margin: {
            top: 10px;
        }

        font: {
            size: 20px;
        }
    }
}


#postheader {
	max-width: $screen_max_width;
	min-height: 500px;

	margin: 0 auto;
    
    #sidebar{
        z-index: 1;
        position: relative;
        background-color: #fff;
        max-width: 25%;
        padding: 1% {
            top: 200px;
        }

        margin: {
            top: -185px;
        }
        
        
        height: 100%;

        float: left;
        
        font: {
            size: 10pt;
        }
    }

    #blogger {
        max-width: 70%;
        padding: 1%;
        margin: {
            left: 0.5%;
            top: $line_height*3;
        }
        float: right;
        p {
            //text-align: justify;
            padding: 0.5em 0;
            //text-align-last: size;
        }

        article {
            $author_size: $font_size * 0.9;
            line_height: 1.4em;
            min-width: 591px;

            padding: 15px{
                left: 10%;
            }

            margin-left: -3.5%;

            background-color: #fff;

            color: #333;

            blockquote {
                margin: 1em 0;
                padding: 1em 2em;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-left: 8px solid #41B7DB;
                background-color: #F7F7F7;
                font: italic 1.05em/1.55em "Skolar Italic", "Times New Roman", serif;
                color: rgba(0, 0, 0, 0.75);
            }
            h2 {
               //margin-bottom: #{1.5*$line_height/($font-size*2)}em;
               .catch_headline {
                    display: block;
                    color: rgba(0, 0, 0, 0.3);
                    font-size: 0.4em;
                    line-height: 1.5em;
                    text-transform: uppercase;
                    font-family: "Proxima Nova";
                    font-weight: bold;
                    letter-spacing: 1px;
                    padding-bottom: 0.5em;
                }
            }
            .metadata {
                text-align: center;
                padding-bottom: 2em;
                li {
                    color: rgba(0, 0, 0, 0.3);
                    display: inline-block;
                    list-style: none;
                    padding: 1em 2em 0 1.5em;
                    white-space: nowrap;
                    &.author {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        display: block;
                        padding: 0.5em 0.5em 0.5em 0;
                        font-size: 1.25em;
                        line-height: 1.35em;
                        margin: 0;
                        text-align: left;
                        font-family: "Rockwell","Times New Roman",serif;
                        font-weight: normal;
                        font-style: normal;
                    }
                }

                & + p {
                    font-family: "Rockwell","Times New Roman",serif;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 1.25em;
                    line-height: 1.35em;
                    margin: 0;
                }
            }

            .adieu {
                &:first-child {
                    margin-top: #{2*$line_height/$font_size}em;
                }
                text-align: right;

                &.signature {
                    font-size: $font-size*1.75;
                    //font-family: Lucida;
                }

                &.role {
                    font-family: "Adobe Caslon Pro";
                }
            }
        }
    }
}

footer {
	max-width: $screen_max_width;

    margin: 0 auto;

    min-height: 50px;

    padding: 10px;

    border: 5px solid black {
        left: none;
        right: none;
        bottom: none;
    }

    background: {
        color: $mudd_gold;
    }

    font: {
        size: 13px;
    }

    a {
        text: {
            decoration: underline;
        }
    }

    ul#social-media-links {

        height: 34px;

        list-style: none;
        list-style-image: none;

        li {
            display: inline;
        }
    }

    ul#footer-links {
        text-align: right;
        list-style: none;
    }
}

#copyright {
    display: block;

	//margin: 10px;
	font: {
		size: 10px;
		style: italic;
	}

    p {
        line-height: 1em;
        margin: 0;
    }
}
@import "front_slider";