@import "base";
@import "logo_style";
@import "roomdraw/roomdraw_base";

#postheader {
    max-width: 750px;
}

.groups {
    table {
        width: 75%;
        margin: 0 auto;
    }
    tbody {
        tr:nth-child(odd) {
            background: $body_background;
        }
    }
}

.comment_holder {
    .comment {
        border: 1px black solid;
        padding: 0.75em;
        .metadata {
            li { display: inline-block;}
        }

        h3 {
            padding: 0px;
            font-size: $font_size * 1.25;
        }
    }
}
