@import "../base";
@import "../logo_style";

#salutation, #login_form {
    margin-right: 0;
}

#logo {
    padding-bottom: 15px;
    min-width: 1215px;
}

a, .linklike {
	color:rgb(204, 85, 0);
	text-decoration: none;
	cursor: pointer;
}

a:hover, .linklike {
	text-decoration: underline;
	cursor: pointer;
}

#coursewrap {
	cursor: default;
	font-family: serif;
    ul {
        list-style-type: none;
        text-align: left;
        height: 170px;
        margin-top: 5px;
        margin-bottom: 5px;

        li {
            padding: 0 25px 0 25px;
            display: inline;
            font-size: 100pt;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            &#o {
                padding-left: 10px;
                padding-right: 55px;
            }

            &#u {
                margin-left: -20px;
                margin-right: -10px;
            }

            &#r {
                padding-left: 5px;
            }

            &#e {
                padding: 0 5px 0 15px;
            }

            &#s2 {
                padding-left: 0;
                margin-left: -10px;
                padding-right: 10px;
            }
        }
    }
}

#c {
	background-image: url(/static/images/small_stylized_rhino_1.png);
	background-repeat: no-repeat;
	background-position: 105% 71%;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#o{}
#o::after {
	content: "(n)";
	text-transform:lowercase;
	font-size: 40pt;

	color: rgba(128,128,128,1);
	margin-right:-50px;
}
@font-face{
	font-family: "VeraMono";
	src: url(/static/fonts/VeraMono.ttf);
}
#u {
	background-image: url(/static/images/header/uracil.png);
	background-repeat: no-repeat;
	background-size:85%;
	background-position:65%;

}

@font-face {
	font-family:"Blackboard";
	src: url(/static/fonts/jsMath-eufb10.ttf);
}
#r{
	font-family: "Blackboard";
}
@font-face{
	font-family:"Edwardian";
	src: url(/static/fonts/Edwardian.TTF);
}

#s1 {
	background-image: url(/static/images/header/selenium.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
#s1::after{
	content:'e';
	text-transform:lowercase;
	font-size: 40pt;
	color: rgba(128,128,128,1);
	margin-right:-25px;
}
#e {

}
#s2 {
	font-family: "Edwardian";
}

#container > footer {
	margin-top: 15px;
	padding: 10px;
	text-align: center;
	margin-bottom: 25px;
}

ul.horstack {
    list-style-type: none;
    text-align: center; /* hacky hacky centering */
    margin-top: 5px;
    margin-bottom: 5px;
}
.horstack li {
	vertical-align: top;
    display: inline-block;
    border-left: 1px solid rgba(0,0,0,0); /* equalizes borders*/
    border-right: 1px solid rgba(0,0,0,0);

}
.horstack p {
	text-align: left;
}


.hidden {
	display: none;
}

.w850 {
	max-width: 850px;
}
