{% extends 'main_base_page.html' %}
{% load staticfiles %}
{% load main_extras %}

{% block stylin %}
   <link rel="stylesheet" type="text/css" href="{% static 'styles/council.css' %}"/>
{% endblock stylin %}


{% block pre_header %}

{% endblock pre_header %}

{% block post_header %}
    <h2>ASHMC Council</h2>
    <ul>
        {% for title, apptmts in council_main|council_ordered %}
            <li><h4>{{title}}{{apptmts|pluralize}} &mdash; {% for apptmt in apptmts %}{% spaceless %}
            {% endspaceless %}{% if not forloop.first and forloop.last %} and {% elif not forloop.first %}, {%endif%}
            <a href="mailto:{{apptmt.user.email}}">{% firstof apptmt.user.get_full_name apptmt.user.username %}</a>{% spaceless %}
            {% endspaceless %}{% empty %}Nobody's been elected yet!{% endfor %}
            </li>
        {% endfor %}
    </ul>
    <h3>Additional ASHMC Officers</h3>
    <ul>
        {% for title, apptmts in council_additional|council_ordered %}
            {% if title == "Honor Board Representative" %}
            <li><h4>{{title}}{{apptmts|pluralize}}
                {% if apptmts %}
                <ul>
                    {% for apptmt in apptmts|order_by:"user__student__class_of" %}{% spaceless %}
                    <li><a href="mailto:{{apptmt.user.email}}">{% firstof apptmt.user.get_full_name apptmt.user.username %}</a> ({{apptmt.user.student.class_of}})</li>
                    {% endspaceless %}{% endfor %}
                </ul>
                {% else %}
                &mdash; Nobody's been elected yet!
                {% endif %}
            {% else %}
            <li><h4>{{title}}{{apptmts|pluralize}} &mdash; {% for apptmt in apptmts|order_by:"user__student__class_of" %}{% spaceless %}
            {% endspaceless %}{% if not forloop.first and forloop.last %} and {% elif not forloop.first %}, {%endif%}
            <a href="mailto:{{apptmt.user.email}}">{% firstof apptmt.user.get_full_name apptmt.user.username %}</a>{% spaceless %}
            {% endspaceless %}{% empty %}Nobody's been elected yet!{% endfor %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% for title, apptmts in council_appointed|council_ordered %}
        {%if forloop.first %}
        <h3>Appointed Poitions</h3>
        <ul>
        {% endif %}
            <li><h4>{{title}}{{apptmts|pluralize}} &mdash; {% for apptmt in apptmts %}{% spaceless %}
            {% endspaceless %}{% if not forloop.first and forloop.last %} and {% elif not forloop.first %}, {%endif%}
            <a href="mailto:{{apptmt.user.email}}">{% firstof apptmt.user.get_full_name apptmt.user.username %}</a>{% spaceless %}
            {% endspaceless %}{% empty %}Nobody's been appointed yet!{% endfor %}
            </li>
        {% if forloop.last %}
        </ul>
        {% endif %}
    {% endfor %}
    {% for dorm in dorms %}
        {% if forloop.first %}
        <h2>Dorm Officers</h2>
        <ul>
        {% endif %}

        <h3>{{dorm}}</h3>
        <ul>
            {% with dorm|current_presidents as presidents %}
            <li><h4>President{{presidents|pluralize}} &mdash; {% for prez in presidents %}{% spaceless %}
                {% endspaceless %}{% if not forloop.first and forloop.last %} and {% elif not forloop.first %}, {%endif%}
                <a href="mailto:{{prez.user.email}}">{{prez.user.get_full_name}}</a>{% spaceless %}
                {% endspaceless %}{% empty %}Nobody's been elected yet!{% endfor %}
            {% endwith %}</h4></li>
            {% for role in dorm.dormrole_set.all %}
                {% if not role.is_unofficial %}
                <li>
                    {% with role|current_appointments as apptmts %}
                    <h4>{{role.title}}{{apptmts|pluralize}} &mdash; {% for apptmt in apptmts %}{% spaceless %}
                {% endspaceless %}{% if not forloop.first and forloop.last %} and {% elif not forloop.first %}, {%endif%}
                <a href="mailto:{{apptmt.user.email}}">{{apptmt.user.get_full_name}}</a>{% spaceless %}
                {% endspaceless %}{% empty %}Nobody's been appointed yet!{% endfor %}
                    {% endwith %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if forloop.last %}
        </ul>
        {% endif %}
    {% endfor %}
{% endblock post_header %}
