{% extends "main_base_page.html" %}
{% load static %}
{% load event_extras %}

{% block stylin %}
   <link rel="stylesheet" type="text/css" href="{% static 'styles/events/event_list.css'%}">
{% endblock stylin %}

{% block post_header %}
{% for event in object_list %}
    {% if forloop.first %}
    <div class='list_wrap'>
        <ul class='event_list'>
    {% endif %}
            <li>
            <div class='
            {% if request.user in event.attendees.all %}
                attending
            {% else %}
                surrounder body
            {% endif %}'>
                <div class='event_head'>
                    <a href="{% url 'event_detail' event.id %}"><div class='event_title'><h2>{{event.title}}</h2></div></a>
                    <div class='calendar righty'>
                        {% calendarize event.start_time event.end_time mark_today=True %}
                    </div>
                    <div class='location'>
                        <h4>{{event.location}}</h4>
                    </div>
                    {% with event|get_attendance:request.user as attendance %}
                        {% if attendance %}
                            <div class='attendance'>
                                {% for guest in attendance.guests.all  %}
                                    {% if forloop.first %}
                                        <h6>You are bringing:</h6>
                                        <ul>
                                    {% endif %}
                                            <li>{{guest}}</li>
                                    {% if forloop.last %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class='clearer'></div>
                </div>
            </div>
                <div class='event_posthead'>
                    <div class='location'></div>
                    <div class='time'>
                        <h2>
                            {{event.start_time|date_presenter}}
                        {% if event.end_time %}
                            - {{event.end_time|date_presenter}}
                        {% endif %}
                        </h2>
                    </div>
                </div>
                <div class='clearer'></div>
            </li>
    {% if forloop.last %}
       </ul>
   </div>
    {% endif %}

{% empty %}
    <h2>No events registered!</h2>
    <h3>Why don't you take care of that?</h3>
{% endfor %}
{% endblock post_header %}
