{% load staticfiles %}
{% load future %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>{%block title%}COURSES{%endblock%}</title>
  <meta name="description" content="" />
  <meta name="author" content="Haak Saxberg" />

  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{% static "images/favicon.png" %}" />
  <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png"%}" />
  
  <link rel="stylesheet" type="text/css" media="screen" href="{%static "styles/base.css"%}" />
  {% block stylin %}
  
  {% endblock %}
</head>

<body>
<div id="container">
	<header>
	{% block header %}
	<div id="coursewrap">
		<ul>
	        <li id="c" title="PHYS">C</li>
	        <li id="o" title="CSCI">O</li>
	        <li id="u" title="BIOL">U</li>
	        <li id="r" title="MATH">R</li>
	        <li id="s1" title="CHEM">S</li>
	        <li id="e" title="ENGR">&epsilon;</li>
	        <li id="s2" title="HUM">S</li>
	   </ul>
	</div>
	{% endblock %}
	</header>
	
    {% block container %}
    
    
    {% endblock %}

	
	
</div>
<footer>
	<hr/><br/>
	{% block footer %}
	<div id="foot_links"><ul>
		<a href="#" id="footertos"><li>TOS</li></a>
		<a href="#" id="footerprivacy"><li>Privacy</li></a>
		<a href="#" id="footercontact"><li>Contact</li></a>
		<a href="courses" id="footerabout"><li>About</li></a>
		</ul></div>
		</p>
	{% endblock %}
	</footer>
	<p id="copyright">&copy; Copyright  by <a href="http://cs.hmc.edu/~hsaxberg/curriculumvitae.html">Haak Saxberg</a></p>
{# scripts go at the end, when the page has mostly been loaded already. #}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript" src="http://ui.jquery.com/latest/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="http://ui.jquery.com/latest/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="http://ui.jquery.com/latest/ui/jquery.effects.core.js"></script>

<script type="text/javascript">
	
    // create custom animation algorithm for jQuery called "bouncy"
    $.easing.bouncy = function (x, t, b, c, d) {
        var s = 1.70158;
        if ((t/=d/2) < 1) return c/2*(t*t*(((s*=(1.525))+1)*t - s)) + b;
        return c/2*((t-=2)*t*(((s*=(1.525))+1)*t + s) + 2) + b;
    }
</script>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script src="https://raw.github.com/cowboy/jquery-resize/v1.1/jquery.ba-resize.min.js"></script> 
{% block scriptin %}
{% endblock %}
</body>
</html>
