{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>{%block title%}COURSES{%endblock%}</title>
  <meta name="description" content="" />
  <meta name="author" content="Haak Saxberg" />

  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
  <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png"%}" />
  
  <link rel="stylesheet" type="text/css" media="screen" href="{%static "styles/base.css"%}" />
  {% block stylin %}
  
  {% endblock %}
</head>

<body>
<div id="container">
	<header>
	{% block header %}
	<div id="coursewrap">
		<ul>
	        <li id="c">C</li>
	        <li id="o">O</li>
	        <li id="u">&mu;</li>
	        <li id="r">R</li>
	        <li id="s1">S</li>
	        <li id="e">E</li>
	        <li id="s2">S</li>
	   </ul>
	</div>
	{% endblock %}
	</header>
	
    {% block container %}
    
    
    {% endblock %}

	<footer>
	{% block footer %}
	<div id="foot_links"><ul>
		<li>TOS</li>
		<li>Privacy</li>
		<li>Contact</li>
		<li>About</li>
		</ul></div>
		</p><p>&copy; Copyright  by Haak Saxberg</p>
	{% endblock %}
	</footer>
</div>
<script>
  	
  	
</script>
{% block scriptin %}
{% endblock %}
</body>
</html>
