@import "base";
@import "logo_style";
@import "login_form";

#container {
    min-width: 573px;
}

#postheader {
    padding-top: 2em;
}

#login_form {
    float: none;
    width: auto;
    margin-right: 0;
    margin: {
        top: 5em;
        bottom: 7em;
    }

    &::before {
        margin-left: -36px;
    }

    &::after {
        margin-left: 0;
    }
}
