{%extends "base_page.html"%}
{% load staticfiles %}
{% block stylin %}

<link rel="stylesheet" type="text/css" href="{% static "styles/fullcalendar.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/coursesearch.css"%}"/>

{% endblock %}

{% block scriptin %}
<script type="text/javascript" src="{%static "scripts/fullcalendar.js" %}"></script>
<script>
$(document).ready(function(){
	$('#calendardiv').fullCalendar({
		// Callbacks and shit
		header: {left: '',center:'',right:''},
		defaultView: 'agendaWeek',
		weekends: false,
		height: 700,
		allDaySlot: false,
		minTime:8,
		maxTime:23,
	});
	
	$("#course_search_form").submit(function(){
		alert("searching!");
	});
});
</script>
{% endblock %}

{% block container %}

<section id="calsearch">
	<section id="search">
		<div id="searchwrap">
			{%include "search_form.html"%}
		</div>
		<div id="results">
			{% for course in courses %}
				{% include "search_result.html" %}
			{% endfor %}
		</div>
	</section>
	<section id="calendar">
		<div id='calendardiv'></div>
	</section>

</section>


{% endblock %}
