{%extends "courses_base.html"%}
{% load staticfiles %}
{% load courses_extras %}
{% load url from future %}
{% block stylin %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static "styles/fullcalendar.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/coursesearch.css"%}"/>

{% endblock %}

{% block scriptin %}
{{ block.super}}
<script type="text/javascript" src="{%static "scripts/fullcalendar.js" %}"></script>
<script>
$(document).ready(function(){
	
	// keep searchcolumn and calendarcolumn the same height
	$('#calendar').resize(function(){
		$('#search').css('maxHeight', $(this).css('height'));
	});
	function show_course_info(event, jsEvent, view){
		alert(event.id);
		
		return false;
	}
	$('#calendardiv').fullCalendar({
		// Callbacks and shit
		header: {left: '',center:'',right:''},
		defaultView: 'agendaWeek',
		weekends: false,
		height: 700,
		allDaySlot: false,
		allDayDefault: false,
		minTime:8,
		maxTime:23,
		columnFormat: 'ddd',
		eventClick: show_course_info
	});
	
	$("#course_search_form").submit(function(){
		$("#ajaxloader").show();
		$("#results").children().remove();
		$.ajax({
			url: "{% url "search_courses"%}",
			type: "GET",
			data: $(this).serialize(),
			cache: false,
			success: function(html) {
				$("#ajaxloader").hide();
				$("#results").append(html);
			},
			errror: function(XHR, status){
				$('#ajaxloader').hide();
				$('#results').append('<div>Error loading results.</div>');
			}
		});
		
		return false;
	});
	
	$("#results").on("click", "div.linklike", function(event){
		$(this).hide();
		$("#ajaxloader").show();
		$.ajax({
			url: $("#loadmore").attr('action'),
			cache: false,
			data: $("#loadmoredata").attr('alt'),
			success: function(html){
				$("#ajaxloader").hide();
				$("#loadmore").remove();
				$("#results").append(html);
			},
			error: function(XHR, status){
				$("#ajaxloader").hide();
				$(this).show();
				alert(XHR.statusText);
			}
		});
	
	});
	$("#results").on('click', 'div.addsection', function(event){
		//alert($(this).parent('form').attr('id'));
		var $form = $(this).parent('form');
		var $this = $(this)
		if ($this.hasClass('rem')){
					$("#calendardiv").fullCalendar(
						'removeEvents',
						$form.attr('id')
					);
					$("#added_sections li[id='"+$form.attr('id')+"']").remove();
					$this.html('Add');
		} else {
			$.ajax({
				url: $form.attr('action'),
				data: $form.serialize(),
				dataType: 'json',
				cache: false,
				success: function(json){
					
					for (var i = 0; i < json.length; i++){
						//alert(json[i]);
						$('#calendardiv').fullCalendar(
							'renderEvent',
							json[i]
						);
					}
					$("#added_sections").append(
						"<li id='"+json[0].id+"' class='secshorthand "+json[0].className.join(' ')+
						"'><a href=''>"+json[0].title+"</a> <a class='sec_remove'>X</a></li>"
					);
					$this.html('Remove');
				
					
				}
			});
		}
		$this.toggleClass('rem');
	});
	
	$("#added_sections").on('click','.sec_remove', function(event){
		var id = $(this).parent('li').attr('id')
		$('#calendardiv').fullCalendar(
			'removeEvents',
			id
		);
		$("form#"+id+" div.addsection").toggleClass('rem');
		$("form#"+id+" div.addsection").html('Add');
		$(this).parent('li').remove();
	});
	
});
</script>
{% endblock %}

{% block container %}

<section id="calsearch">
	<section id="search">
		<div id="searchwrap">
			{%include "search_form.html"%}
		</div>
		
		<div id="results">
			
			{% for course in courses %}
				{% include "search_result.html" %}
			{% endfor %}
		</div>
		<div id="ajaxloader" class="hidden centerer"></div>
	</section>
	<section id="calendar">
		
		<div id='calendardiv'></div>
		<ul id="added_sections">
			
		</ul>
	</section>

</section>


{% endblock %}
