{% extends "main_base_page.html" %}
{% load static %}
{% block stylin %}
    <link rel="stylesheet" href="{%static "styles/registration/registration.css"%}">
{% endblock stylin %}
{% block post_header %}
<div id="login_form">
    <div class="centerer centered">
        <div id="login_form_hold">
   <form action="." method="post">
{% csrf_token %}
    <div><h4>Old password</h4></div>
    <div>{{form.old_password}}</div>
    <div><h4>New password</h4></div>
    <div>{{form.new_password1}}</div>
    <div>{{form.new_password2}}</div>
    <input type=submit class='button-submit' value="Change Password"/>
</form>
</div>
</div>
</div>
{% endblock post_header %}
