{% load url from future %}
{{form.non_field_errors}}


<form id="course_search_form" action="{% url "search_courses" %}" method="GET">
	<h2>I want a course...</h2>
	<div id="namelike"><h4>about</h4> {{form.title}}</div>
	<div id="oncampus"><h4>affiliated with</h4>
		<div class="centerer centered">
			{{form.campus}}
		</div>
	</div>
	<div id="dept"><h4>In the</h4> {{form.department}} <h4>department</h4></div>
	<div id="numbered"><h4>With a number <em>n</em> s.t.</h4>
		{{form.numberlow}} <h4>&le; <em>n</em> &lt;</h4> {{form.numberhigh}}
	</div>

	<div id="coursecode">
		<h4>With a code like</h4> {{form.code}}
	</div>

	<div id="days" class='horizontal'>
		<h4>Which meets</h4> {{form.day_limit}} <h4>on</h4> <h4>{{form.days}}</h4>
	</div>

	<div id='times'>
		<div id='timestart'><h4>Which starts after</h4> {{form.timestart}}</div>
		<div id="timeend"><h4>but ends before</h4> {{form.timeend}}</div>
	</div>

	<div id="taughtby">
		<h4>Taught by</h4> {{form.professors}}
	</div>
	<ul>
	<li><div id="notfull"><h4>{{form.only_open}} Only show me sections that aren't full.</h4></div></li>
	<li><div id="pfable"><h4>{{form.pf_able}} Show me classes that can be pass/failed.</h4></div></li>
	{% if request.user.is_authenticated %}
		<li><div id="nottaken" ><h4>{{form.not_taken}} Only show me classes I haven't taken.</h4></div></li>
		<li class='warning'><div id="inreach" ><h4>{{form.in_reach}} Only show me classes I meet prerequisites for.</h4></div></li>
	{% endif %}
	</ul>
	<input  type='submit' id="searchSubmit" class="button-submit" value='Search!'/>
</form>


