#calsearch {
  max-width: 1500px;
  overflow: hidden;
  background-color: white; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 0.2; }

  50% {
    -webkit-transform: rotate(180deg);
    opacity: 1.0; }

  to {
    -webkit-transform: rotate(360deg);
    opacity: 0.2; } }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    opacity: 0.2; }

  50% {
    -ms-transform: rotate(180deg);
    opacity: 1.0; }

  to {
    -ms-transform: rotate(360deg);
    opacity: 0.2; } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    opacity: 0.2; }

  50% {
    -moz-transform: rotate(180deg);
    opacity: 1.0; }

  to {
    -moz-transform: rotate(360deg);
    opacity: 0.2; } }

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
    opacity: 0.2; }

  50% {
    -o-transform: rotate(180deg);
    opacity: 1.0; }

  to {
    -o-transform: rotate(360deg);
    opacity: 0.2; } }

#ajaxloader {
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  border: 8px solid #000;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px #222;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite; }

section#search {
  float: right;
  width: 50%;
  max-height: 700px;
  overflow-y: auto;
  padding: 5px; }

section#calendar {
  float: left;
  width: 45%;
  margin: 15px;
  margin-right: 0px; }

.fc-today {
  background: #fff;
  /* prevent calendar from highlighting today*/ }

.horizontal ul {
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: auto; }

.horizontal ul li {
  display: inline; }

ul.campus_selection {
  display: inline-block;
  text-align: left;
  padding: 5px; }

ul.campus_selection label {
  padding: 2px 4px;
  color: white; }

ul.campus_selection li {
  margin-top: 4px; }

.colored {
  color: white;
  padding: 2px 4px; }

.colored.SC {
  background-color: #889e5a; }

.colored.HM {
  background-color: #ca9a0a; }

.colored.CM {
  background-color: #71101b; }

.CM:after {
  content: 'C';
  /* otherwise just 'CM' is displayed :P */ }

.colored.PO {
  background-color: #1860cc; }

.colored.PZ {
  background-color: #f49700; }

.colored.CU {
  background-color: #391858; }

.colored.CG {
  background-color: #da3d38; }

.CG:after {
  content: 'U'; }

.colored.KG {
  background-color: #00718f; }

.colored.NA, .colored.UN {
  background-color: #646464; }

.alternatives {
  border: 1pt dashed gray;
  margin-bottom: 10px;
  padding: 5px; }

.alternatives > div:not(:last-child) {
  border-bottom: 1pt solid black; }

#preamble {
  font-size: 20pt; }

#course_search_form div {
  margin: 5px; }

#results {
  margin-top: 15px;
  padding: 5px; }

.course_result {
  padding: 5px; }

.course_result:nth-child(odd) {
  background-color: #f7f7f7; }

.course_result .seccount {
  float: right; }

.more_link {
  cursor: pointer; }

.pagination {
  text-align: center;
  margin: 10px;
  font-size: 15pt; }

.requisites {
  display: list-item; }

.requisites ul li li {
  margin-left: 5%;
  font-style: italic; }

.sections {
  margin-top: 10px; }

.sections ul {
  list-style-type: disc; }

.sections ul li {
  margin-top: 5px;
  min-height: 30px; }

.sections .seats {
  padding: 2px 15px;
  float: right; }

.sections .addsection {
  padding: 2px 15px;
  float: right;
  margin-left: 15px;
  cursor: pointer;
  border: 1px solid #37DE6A;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #00CC00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00cc00), to(#37de6a));
  background-image: -webkit-linear-gradient(top, #00cc00, #37de6a);
  background-image: -moz-linear-gradient(top, #00cc00, #37de6a);
  background-image: -ms-linear-gradient(top, #00cc00, #37de6a);
  background-image: -o-linear-gradient(top, #00cc00, #37de6a);
  background-image: linear-gradient(top, #00cc00, #37de6a); }

.sections .addsection.rem {
  border-color: #dc3c34;
  background-color: #FF6726;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6726), to(#ff5326));
  background-image: -webkit-linear-gradient(top, #ff6726, #ff5326);
  background-image: -moz-linear-gradient(top, #ff6726, #ff5326);
  background-image: -ms-linear-gradient(top, #ff6726, #ff5326);
  background-image: -o-linear-gradient(top, #ff6726, #ff5326);
  background-image: linear-gradient(top, #ff6726, #ff5326); }

.sections .addsection:hover {
  border-color: #00BD39;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #00BD39;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00cc00), to(#00bd39));
  background-image: -webkit-linear-gradient(top, #00cc00, #00bd39);
  background-image: -moz-linear-gradient(top, #00cc00, #00bd39);
  background-image: -ms-linear-gradient(top, #00cc00, #00bd39);
  background-image: -o-linear-gradient(top, #00cc00, #00bd39);
  background-image: linear-gradient(top, #00cc00, #00bd39); }

.sections .addsection.rem:hover {
  border-color: #c81e20;
  background-color: #FF6726;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6726), to(#a62c0c));
  background-image: -webkit-linear-gradient(top, #ff6726, #a62c0c);
  background-image: -moz-linear-gradient(top, #ff6726, #a62c0c);
  background-image: -ms-linear-gradient(top, #ff6726, #a62c0c);
  background-image: -o-linear-gradient(top, #ff6726, #a62c0c);
  background-image: linear-gradient(top, #ff6726, #a62c0c); }

.sections .addsection:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); }

.meetings {
  width: 90%;
  margin-left: 5%; }

.numericfield {
  width: 50px;
  text-align: center; }

.timefield {
  width: 75px;
  text-align: center; }

#searchSubmit {
  padding: 5px;
  min-width: 50px; }

.secshorthand a {
  font-weight: bold;
  text-decoration: none; }

#added_sections {
  list-style: none;
  list-style-type: none;
  font-size: 10pt;
  font-weight: bold; }

#added_sections li {
  margin: 5px;
  float: left; }

#added_sections a {
  color: white;
  text-decoration: underline; }

#added_sections .sec_remove {
  padding: 1px 5px;
  color: gray;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none; }

#added_sections .sec_remove:hover {
  color: white;
  background-color: gray;
  color: #FFF; }

.warning {
  padding: 1px 2px;
  background-color: #FF4500;
  color: white;
  margin: 5px;
  border-radius: 2px;
  width: auto;
  display: inline-block; }
